<%- include("partials/header"); -%>
    <h1>About</h1>
    <p>Welcome to my BlogPost Application! Fancy seeing yourself here. I'm currently working to deploy this, learning and constantly adding new features in it until it all comes together to be what I've envisioned it to be. Try running this application once again by forking the updated code after sometime.</p>
<%- include("partials/footer"); -%>
