<%- include("partials/header"); -%>
<h1>Get Connected!</h1>
<p>Contributions are always welcome! This Project is currently under construction, deployed to be a part of my MLH Application</p>
<%- include("partials/footer"); -%>
